# --- Simulation Logic ---
CONFIG_MTU=1500
CONFIG_MSS=1460
IP_HEADER_SIZE=20
TCP_HEADER_SIZE=20
ETHERNET_SIZE=14
BROADCAST_MAC_ADDRESS=FF:FF:FF:FF:FF:FF

# --- Server Settings ---
PORT=3001
NODE_ENV=development